<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=poppins:wght@400;500;700&display=swap"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../styles/tokens.css">
    <link rel="stylesheet" href="../../styles/bulma-overrides.css">

    <!-- Text field: Email -->
<div class="outlined-textfield">
  <input type="text" id="email" class="outlined-textfield-input">
  <label for="email" class="outlined-textfield-label">Email / Phone number</label>
</div>

<!-- Text field: Password with toggle -->
<div class="outlined-textfield password-container">
  <input type="password" id="password" class="outlined-textfield-input">
  <label for="password" class="outlined-textfield-label">Password</label>
  <button id="togglePassword" type="button" class="password-toggle-icon">
    <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
    </svg>
  </button>
</div>

</body>
</html>

