 /* Root variables for the default light theme */
        :root {
            /* Light Scheme Colors */
            --md-sys-color-primary: #1800AD;
            --md-sys-color-surface-tint: #4C49D7;
            --md-sys-color-on-primary: #FFFFFF;
            --md-sys-color-primary-container: #1800AD;
            --md-sys-color-on-primary-container: #8E8EFF;
            --md-sys-color-secondary: #585993;
            --md-sys-color-on-secondary: #FFFFFF;
            --md-sys-color-secondary-container: #BEBEFF;
            --md-sys-color-on-secondary-container: #4A4B84;
            --md-sys-color-tertiary: #370044;
            --md-sys-color-on-tertiary: #FFFFFF;
            --md-sys-color-tertiary-container: #59006C;
            --md-sys-color-on-tertiary-container: #CF7ADE;
            --md-sys-color-error: #BA1A1A;
            --md-sys-color-on-error: #FFFFFF;
            --md-sys-color-error-container: #FFDAD6;
            --md-sys-color-on-error-container: #93000A;
            --md-sys-color-background: #FCF8FF;
            --md-sys-color-on-background: #1B1B23;
            --md-sys-color-surface: #FCF8FF;
            --md-sys-color-on-surface: #1B1B23;
            --md-sys-color-surface-variant: #E3E0F3;
            --md-sys-color-on-surface-variant: #464554;
            --md-sys-color-outline: #777586;
            --md-sys-color-outline-variant: #C7C4D7;
            --md-sys-color-shadow: #000000;
            --md-sys-color-scrim: #000000;
            --md-sys-color-inverse-surface: #302F39;
            --md-sys-color-inverse-on-surface: #F2EFFB;
            --md-sys-color-inverse-primary: #C1C1FF;
            --md-sys-color-primary-fixed: #E2DFFF;
            --md-sys-color-on-primary-fixed: #0A006B;
            --md-sys-color-primary-fixed-dim: #C1C1FF;
            --md-sys-color-on-primary-fixed-variant: #322CBF;
            --md-sys-color-secondary-fixed: #E2DFFF;
            --md-sys-color-on-secondary-fixed: #14134B;
            --md-sys-color-secondary-fixed-dim: #C1C1FF;
            --md-sys-color-on-secondary-fixed-variant: #404179;
            --md-sys-color-tertiary-fixed: #FED6FF;
            --md-sys-color-on-tertiary-fixed: #350041;
            --md-sys-color-tertiary-fixed-dim: #F6ADFF;
            --md-sys-color-on-tertiary-fixed-variant: #712183;
            --md-sys-color-surface-dim: #DBD8E4;
            --md-sys-color-surface-bright: #FCF8FF;
            --md-sys-color-surface-container-lowest: #FFFFFF;
            --md-sys-color-surface-container-low: #F5F2FE;
            --md-sys-color-surface-container: #EFECF8;
            --md-sys-color-surface-container-high: #EAE6F3;
            --md-sys-color-surface-container-highest: #E4E1ED;

            /* Light Medium Contrast Scheme */
            --md-sys-color-light-medium-contrast-primary: #0C0070;
            --md-sys-color-light-medium-contrast-surface-tint: #4C49D7;
            --md-sys-color-light-medium-contrast-on-primary: #FFFFFF;
            --md-sys-color-light-medium-contrast-primary-container: #1800AD;
            --md-sys-color-light-medium-contrast-on-primary-container: #BBBBFF;
            --md-sys-color-light-medium-contrast-secondary: #303067;
            --md-sys-color-light-medium-contrast-on-secondary: #FFFFFF;
            --md-sys-color-light-medium-contrast-secondary-container: #6767A2;
            --md-sys-color-light-medium-contrast-on-secondary-container: #FFFFFF;
            --md-sys-color-light-medium-contrast-tertiary: #370044;
            --md-sys-color-light-medium-contrast-on-tertiary: #FFFFFF;
            --md-sys-color-light-medium-contrast-tertiary-container: #59006C;
            --md-sys-color-light-medium-contrast-on-tertiary-container: #F4A4FF;
            --md-sys-color-light-medium-contrast-error: #740006;
            --md-sys-color-light-medium-contrast-on-error: #FFFFFF;
            --md-sys-color-light-medium-contrast-error-container: #CF2C27;
            --md-sys-color-light-medium-contrast-on-error-container: #FFFFFF;
            --md-sys-color-light-medium-contrast-background: #FCF8FF;
            --md-sys-color-light-medium-contrast-on-background: #1B1B23;
            --md-sys-color-light-medium-contrast-surface: #FCF8FF;
            --md-sys-color-light-medium-contrast-on-surface: #101018;
            --md-sys-color-light-medium-contrast-surface-variant: #E3E0F3;
            --md-sys-color-light-medium-contrast-on-surface-variant: #353543;
            --md-sys-color-light-medium-contrast-outline: #525160;
            --md-sys-color-light-medium-contrast-outline-variant: #6D6B7C;
            --md-sys-color-light-medium-contrast-shadow: #000000;
            --md-sys-color-light-medium-contrast-scrim: #000000;
            --md-sys-color-light-medium-contrast-inverse-surface: #302F39;
            --md-sys-color-light-medium-contrast-inverse-on-surface: #F2EFFB;
            --md-sys-color-light-medium-contrast-inverse-primary: #C1C1FF;
            --md-sys-color-light-medium-contrast-primary-fixed: #5B5AE7;
            --md-sys-color-light-medium-contrast-on-primary-fixed: #FFFFFF;
            --md-sys-color-light-medium-contrast-primary-fixed-dim: #413ECD;
            --md-sys-color-light-medium-contrast-on-primary-fixed-variant: #FFFFFF;
            --md-sys-color-light-medium-contrast-secondary-fixed: #6767A2;
            --md-sys-color-light-medium-contrast-on-secondary-fixed: #FFFFFF;
            --md-sys-color-light-medium-contrast-secondary-fixed-dim: #4F4F88;
            --md-sys-color-light-medium-contrast-on-secondary-fixed-variant: #FFFFFF;
            --md-sys-color-light-medium-contrast-tertiary-fixed: #9D4CAD;
            --md-sys-color-light-medium-contrast-on-tertiary-fixed: #FFFFFF;
            --md-sys-color-light-medium-contrast-tertiary-fixed-dim: #813292;
            --md-sys-color-light-medium-contrast-on-tertiary-fixed-variant: #FFFFFF;
            --md-sys-color-light-medium-contrast-surface-dim: #C8C5D1;
            --md-sys-color-light-medium-contrast-surface-bright: #FCF8FF;
            --md-sys-color-light-medium-contrast-surface-container-lowest: #FFFFFF;
            --md-sys-color-light-medium-contrast-surface-container-low: #F5F2FE;
            --md-sys-color-light-medium-contrast-surface-container: #EAE6F3;
            --md-sys-color-light-medium-contrast-surface-container-high: #DEDBE7;
            --md-sys-color-light-medium-contrast-surface-container-highest: #D3D0DC;

            /* Light High Contrast Scheme */
            --md-sys-color-light-high-contrast-primary: #0C0070;
            --md-sys-color-light-high-contrast-surface-tint: #4C49D7;
            --md-sys-color-light-high-contrast-on-primary: #FFFFFF;
            --md-sys-color-light-high-contrast-primary-container: #1800AD;
            --md-sys-color-light-high-contrast-on-primary-container: #F0EDFF;
            --md-sys-color-light-high-contrast-secondary: #25255C;
            --md-sys-color-light-high-contrast-on-secondary: #FFFFFF;
            --md-sys-color-light-high-contrast-secondary-container: #43437C;
            --md-sys-color-light-high-contrast-on-secondary-container: #FFFFFF;
            --md-sys-color-light-high-contrast-tertiary: #370044;
            --md-sys-color-light-high-contrast-on-tertiary: #FFFFFF;
            --md-sys-color-light-high-contrast-tertiary-container: #59006C;
            --md-sys-color-light-high-contrast-on-tertiary-container: #FFE8FD;
            --md-sys-color-light-high-contrast-error: #600004;
            --md-sys-color-light-high-contrast-on-error: #FFFFFF;
            --md-sys-color-light-high-contrast-error-container: #98000A;
            --md-sys-color-light-high-contrast-on-error-container: #FFFFFF;
            --md-sys-color-light-high-contrast-background: #FCF8FF;
            --md-sys-color-light-high-contrast-on-background: #1B1B23;
            --md-sys-color-light-high-contrast-surface: #FCF8FF;
            --md-sys-color-light-high-contrast-on-surface: #000000;
            --md-sys-color-light-high-contrast-surface-variant: #E3E0F3;
            --md-sys-color-light-high-contrast-on-surface-variant: #000000;
            --md-sys-color-light-high-contrast-outline: #2B2B39;
            --md-sys-color-light-high-contrast-outline-variant: #484857;
            --md-sys-color-light-high-contrast-shadow: #000000;
            --md-sys-color-light-high-contrast-scrim: #000000;
            --md-sys-color-light-high-contrast-inverse-surface: #302F39;
            --md-sys-color-light-high-contrast-inverse-on-surface: #FFFFFF;
            --md-sys-color-light-high-contrast-inverse-primary: #C1C1FF;
            --md-sys-color-light-high-contrast-primary-fixed: #352FC1;
            --md-sys-color-light-high-contrast-on-primary-fixed: #FFFFFF;
            --md-sys-color-light-high-contrast-primary-fixed-dim: #1901AD;
            --md-sys-color-light-high-contrast-on-primary-fixed-variant: #FFFFFF;
            --md-sys-color-light-high-contrast-secondary-fixed: #43437C;
            --md-sys-color-light-high-contrast-on-secondary-fixed: #FFFFFF;
            --md-sys-color-light-high-contrast-secondary-fixed-dim: #2C2C63;
            --md-sys-color-light-high-contrast-on-secondary-fixed-variant: #FFFFFF;
            --md-sys-color-light-high-contrast-tertiary-fixed: #742485;
            --md-sys-color-light-high-contrast-on-tertiary-fixed: #FFFFFF;
            --md-sys-color-light-high-contrast-tertiary-fixed-dim: #59016C;
            --md-sys-color-light-high-contrast-on-tertiary-fixed-variant: #FFFFFF;
            --md-sys-color-light-high-contrast-surface-dim: #BAB7C3;
            --md-sys-color-light-high-contrast-surface-bright: #FCF8FF;
            --md-sys-color-light-high-contrast-surface-container-lowest: #FFFFFF;
            --md-sys-color-light-high-contrast-surface-container-low: #F2EFFB;
            --md-sys-color-light-high-contrast-surface-container: #E4E1ED;
            --md-sys-color-light-high-contrast-surface-container-high: #D6D3DF;
            --md-sys-color-light-high-contrast-surface-container-highest: #C8C5D1;
        }

        /* Variables for the dark theme. This is a common way to implement dark mode using a class on the body or html tag. */
        .dark {
            /* Dark Scheme Colors */
            --md-sys-color-primary: #C1C1FF;
            --md-sys-color-surface-tint: #C1C1FF;
            --md-sys-color-on-primary: #1700A7;
            --md-sys-color-primary-container: #1800AD;
            --md-sys-color-on-primary-container: #8E8EFF;
            --md-sys-color-secondary: #C1C1FF;
            --md-sys-color-on-secondary: #2A2A61;
            --md-sys-color-secondary-container: #43437C;
            --md-sys-color-on-secondary-container: #B3B2F3;
            --md-sys-color-tertiary: #F6ADFF;
            --md-sys-color-on-tertiary: #560068;
            --md-sys-color-tertiary-container: #59006C;
            --md-sys-color-on-tertiary-container: #CF7ADE;
            --md-sys-color-error: #FFB4AB;
            --md-sys-color-on-error: #690005;
            --md-sys-color-error-container: #93000A;
            --md-sys-color-on-error-container: #FFDAD6;
            --md-sys-color-background: #13131B;
            --md-sys-color-on-background: #E4E1ED;
            --md-sys-color-surface: #13131B;
            --md-sys-color-on-surface: #E4E1ED;
            --md-sys-color-surface-variant: #464554;
            --md-sys-color-on-surface-variant: #C7C4D7;
            --md-sys-color-outline: #918FA0;
            --md-sys-color-outline-variant: #464554;
            --md-sys-color-shadow: #000000;
            --md-sys-color-scrim: #000000;
            --md-sys-color-inverse-surface: #E4E1ED;
            --md-sys-color-inverse-on-surface: #302F39;
            --md-sys-color-inverse-primary: #4C49D7;
            --md-sys-color-primary-fixed: #E2DFFF;
            --md-sys-color-on-primary-fixed: #0A006B;
            --md-sys-color-primary-fixed-dim: #C1C1FF;
            --md-sys-color-on-primary-fixed-variant: #322CBF;
            --md-sys-color-secondary-fixed: #E2DFFF;
            --md-sys-color-on-secondary-fixed: #14134B;
            --md-sys-color-secondary-fixed-dim: #C1C1FF;
            --md-sys-color-on-secondary-fixed-variant: #404179;
            --md-sys-color-tertiary-fixed: #FED6FF;
            --md-sys-color-on-tertiary-fixed: #350041;
            --md-sys-color-tertiary-fixed-dim: #F6ADFF;
            --md-sys-color-on-tertiary-fixed-variant: #712183;
            --md-sys-color-surface-dim: #13131B;
            --md-sys-color-surface-bright: #393841;
            --md-sys-color-surface-container-lowest: #0D0D15;
            --md-sys-color-surface-container-low: #1B1B23;
            --md-sys-color-surface-container: #1F1F27;
            --md-sys-color-surface-container-high: #2A2932;
            --md-sys-color-surface-container-highest: #34343D;

            /* Dark Medium Contrast Scheme */
            --md-sys-color-dark-medium-contrast-primary: #DBD9FF;
            --md-sys-color-dark-medium-contrast-surface-tint: #C1C1FF;
            --md-sys-color-dark-medium-contrast-on-primary: #100088;
            --md-sys-color-dark-medium-contrast-primary-container: #8283FF;
            --md-sys-color-dark-medium-contrast-on-primary-container: #000000;
            --md-sys-color-dark-medium-contrast-secondary: #DBD9FF;
            --md-sys-color-dark-medium-contrast-on-secondary: #1F1E56;
            --md-sys-color-dark-medium-contrast-secondary-container: #8B8BC9;
            --md-sys-color-dark-medium-contrast-on-secondary-container: #000000;
            --md-sys-color-dark-medium-contrast-tertiary: #FCCDFF;
            --md-sys-color-dark-medium-contrast-on-tertiary: #450054;
            --md-sys-color-dark-medium-contrast-tertiary-container: #C570D4;
            --md-sys-color-dark-medium-contrast-on-tertiary-container: #000000;
            --md-sys-color-dark-medium-contrast-error: #FFD2CC;
            --md-sys-color-dark-medium-contrast-on-error: #540003;
            --md-sys-color-dark-medium-contrast-error-container: #FF5449;
            --md-sys-color-dark-medium-contrast-on-error-container: #000000;
            --md-sys-color-dark-medium-contrast-background: #13131B;
            --md-sys-color-dark-medium-contrast-on-background: #E4E1ED;
            --md-sys-color-dark-medium-contrast-surface: #13131B;
            --md-sys-color-dark-medium-contrast-on-surface: #FFFFFF;
            --md-sys-color-dark-medium-contrast-surface-variant: #464554;
            --md-sys-color-dark-medium-contrast-on-surface-variant: #DDDAED;
            --md-sys-color-dark-medium-contrast-outline: #B2B0C2;
            --md-sys-color-dark-medium-contrast-outline-variant: #908EA0;
            --md-sys-color-dark-medium-contrast-shadow: #000000;
            --md-sys-color-dark-medium-contrast-scrim: #000000;
            --md-sys-color-dark-medium-contrast-inverse-surface: #E4E1ED;
            --md-sys-color-dark-medium-contrast-inverse-on-surface: #2A2932;
            --md-sys-color-dark-medium-contrast-inverse-primary: #332EC0;
            --md-sys-color-dark-medium-contrast-primary-fixed: #E2DFFF;
            --md-sys-color-dark-medium-contrast-on-primary-fixed: #05004D;
            --md-sys-color-dark-medium-contrast-primary-fixed-dim: #C1C1FF;
            --md-sys-color-dark-medium-contrast-on-primary-fixed-variant: #1D0DB0;
            --md-sys-color-dark-medium-contrast-secondary-fixed: #E2DFFF;
            --md-sys-color-dark-medium-contrast-on-secondary-fixed: #080641;
            --md-sys-color-dark-medium-contrast-secondary-fixed-dim: #C1C1FF;
            --md-sys-color-dark-medium-contrast-on-secondary-fixed-variant: #303067;
            --md-sys-color-dark-medium-contrast-tertiary-fixed: #FED6FF;
            --md-sys-color-dark-medium-contrast-on-tertiary-fixed: #24002D;
            --md-sys-color-dark-medium-contrast-tertiary-fixed-dim: #F6ADFF;
            --md-sys-color-dark-medium-contrast-on-tertiary-fixed-variant: #5E0770;
            --md-sys-color-dark-medium-contrast-surface-dim: #13131B;
            --md-sys-color-dark-medium-contrast-surface-bright: #44434D;
            --md-sys-color-dark-medium-contrast-surface-container-lowest: #07070E;
            --md-sys-color-dark-medium-contrast-surface-container-low: #1D1D25;
            --md-sys-color-dark-medium-contrast-surface-container: #272730;
            --md-sys-color-dark-medium-contrast-surface-container-high: #32323B;
            --md-sys-color-dark-medium-contrast-surface-container-highest: #3D3D46;

            /* Dark High Contrast Scheme */
            --md-sys-color-dark-high-contrast-primary: #F1EEFF;
            --md-sys-color-dark-high-contrast-surface-tint: #C1C1FF;
            --md-sys-color-dark-high-contrast-on-primary: #000000;
            --md-sys-color-dark-high-contrast-primary-container: #BDBDFF;
            --md-sys-color-dark-high-contrast-on-primary-container: #03003B;
            --md-sys-color-dark-high-contrast-secondary: #F1EEFF;
            --md-sys-color-dark-high-contrast-on-secondary: #000000;
            --md-sys-color-dark-high-contrast-secondary-container: #BDBDFE;
            --md-sys-color-dark-high-contrast-on-secondary-container: #03003B;
            --md-sys-color-dark-high-contrast-tertiary: #FFEAFC;
            --md-sys-color-dark-high-contrast-on-tertiary: #000000;
            --md-sys-color-dark-high-contrast-tertiary-container: #F4A7FF;
            --md-sys-color-dark-high-contrast-on-tertiary-container: #1A0022;
            --md-sys-color-dark-high-contrast-error: #FFECE9;
            --md-sys-color-dark-high-contrast-on-error: #000000;
            --md-sys-color-dark-high-contrast-error-container: #FFAEA4;
            --md-sys-color-dark-high-contrast-on-error-container: #220001;
            --md-sys-color-dark-high-contrast-background: #13131B;
            --md-sys-color-dark-high-contrast-on-background: #E4E1ED;
            --md-sys-color-dark-high-contrast-surface: #13131B;
            --md-sys-color-dark-high-contrast-on-surface: #FFFFFF;
            --md-sys-color-dark-high-contrast-surface-variant: #464554;
            --md-sys-color-dark-high-contrast-on-surface-variant: #FFFFFF;
            --md-sys-color-dark-high-contrast-outline: #F1EEFF;
            --md-sys-color-dark-high-contrast-outline-variant: #C3C1D3;
            --md-sys-color-dark-high-contrast-shadow: #000000;
            --md-sys-color-dark-high-contrast-scrim: #000000;
            --md-sys-color-dark-high-contrast-inverse-surface: #E4E1ED;
            --md-sys-color-dark-high-contrast-inverse-on-surface: #000000;
            --md-sys-color-dark-high-contrast-inverse-primary: #332EC0;
            --md-sys-color-dark-high-contrast-primary-fixed: #E2DFFF;
            --md-sys-color-dark-high-contrast-on-primary-fixed: #000000;
            --md-sys-color-dark-high-contrast-primary-fixed-dim: #C1C1FF;
            --md-sys-color-dark-high-contrast-on-primary-fixed-variant: #05004D;
            --md-sys-color-dark-high-contrast-secondary-fixed: #E2DFFF;
            --md-sys-color-dark-high-contrast-on-secondary-fixed: #000000;
            --md-sys-color-dark-high-contrast-secondary-fixed-dim: #C1C1FF;
            --md-sys-color-dark-high-contrast-on-secondary-fixed-variant: #080641;
            --md-sys-color-dark-high-contrast-tertiary-fixed: #FED6FF;
            --md-sys-color-dark-high-contrast-on-tertiary-fixed: #000000;
            --md-sys-color-dark-high-contrast-tertiary-fixed-dim: #F6ADFF;
            --md-sys-color-dark-high-contrast-on-tertiary-fixed-variant: #24002D;
            --md-sys-color-dark-high-contrast-surface-dim: #13131B;
            --md-sys-color-dark-high-contrast-surface-bright: #504F59;
            --md-sys-color-dark-high-contrast-surface-container-lowest: #000000;
            --md-sys-color-dark-high-contrast-surface-container-low: #1F1F27;
            --md-sys-color-dark-high-contrast-surface-container: #302F39;
            --md-sys-color-dark-high-contrast-surface-container-high: #3B3A44;
            --md-sys-color-dark-high-contrast-surface-container-highest: #47464F;
        }

        /* Variables for the color palettes */
        :root {
            /* Primary Palette */
            --md-ref-palette-primary0: #000000;
            --md-ref-palette-primary5: #05004C;
            --md-ref-palette-primary10: #0A006B;
            --md-ref-palette-primary15: #110089;
            --md-ref-palette-primary20: #1700A7;
            --md-ref-palette-primary25: #2419B5;
            --md-ref-palette-primary30: #322CBF;
            --md-ref-palette-primary35: #3F3BCB;
            --md-ref-palette-primary40: #4C49D7;
            --md-ref-palette-primary50: #6565F2;
            --md-ref-palette-primary60: #8283FF;
            --md-ref-palette-primary70: #A2A2FF;
            --md-ref-palette-primary80: #C1C1FF;
            --md-ref-palette-primary90: #E2DFFF;
            --md-ref-palette-primary95: #F2EFFF;
            --md-ref-palette-primary98: #FCF8FF;
            --md-ref-palette-primary99: #FFFBFF;
            --md-ref-palette-primary100: #FFFFFF;

            /* Secondary Palette */
            --md-ref-palette-secondary0: #000000;
            --md-ref-palette-secondary5: #0D0D2A;
            --md-ref-palette-secondary10: #181835;
            --md-ref-palette-secondary15: #232340;
            --md-ref-palette-secondary20: #2D2D4B;
            --md-ref-palette-secondary25: #383957;
            --md-ref-palette-secondary30: #444463;
            --md-ref-palette-secondary35: #504F6F;
            --md-ref-palette-secondary40: #5C5B7C;
            --md-ref-palette-secondary50: #757496;
            --md-ref-palette-secondary60: #8E8DB0;
            --md-ref-palette-secondary70: #A9A8CC;
            --md-ref-palette-secondary80: #C5C3E8;
            --md-ref-palette-secondary90: #E2DFFF;
            --md-ref-palette-secondary95: #F2EFFF;
            --md-ref-palette-secondary98: #FCF8FF;
            --md-ref-palette-secondary99: #FFFBFF;
            --md-ref-palette-secondary100: #FFFFFF;

            /* Tertiary Palette */
            --md-ref-palette-tertiary0: #000000;
            --md-ref-palette-tertiary5: #28001D;
            --md-ref-palette-tertiary10: #360929;
            --md-ref-palette-tertiary15: #421433;
            --md-ref-palette-tertiary20: #4F1F3E;
            --md-ref-palette-tertiary25: #5C2A4A;
            --md-ref-palette-tertiary30: #693556;
            --md-ref-palette-tertiary35: #764162;
            --md-ref-palette-tertiary40: #844C6E;
            --md-ref-palette-tertiary50: #A06488;
            --md-ref-palette-tertiary60: #BC7EA2;
            --md-ref-palette-tertiary70: #D997BD;
            --md-ref-palette-tertiary80: #F7B2D9;
            --md-ref-palette-tertiary90: #FFD8EB;
            --md-ref-palette-tertiary95: #FFECF3;
            --md-ref-palette-tertiary98: #FFF8F8;
            --md-ref-palette-tertiary99: #FFFBFF;
            --md-ref-palette-tertiary100: #FFFFFF;

            /* Neutral Palette */
            --md-ref-palette-neutral0: #000000;
            --md-ref-palette-neutral5: #111114;
            --md-ref-palette-neutral10: #1C1B1F;
            --md-ref-palette-neutral15: #262529;
            --md-ref-palette-neutral20: #313034;
            --md-ref-palette-neutral25: #3C3B3F;
            --md-ref-palette-neutral30: #47464A;
            --md-ref-palette-neutral35: #535256;
            --md-ref-palette-neutral40: #5F5E62;
            --md-ref-palette-neutral50: #78767A;
            --md-ref-palette-neutral60: #929094;
            --md-ref-palette-neutral70: #ADAAAF;
            --md-ref-palette-neutral80: #C8C5CA;
            --md-ref-palette-neutral90: #E5E1E6;
            --md-ref-palette-neutral95: #F3EFF4;
            --md-ref-palette-neutral98: #FCF8FD;
            --md-ref-palette-neutral99: #FFFBFF;
            --md-ref-palette-neutral100: #FFFFFF;

            /* Neutral Variant Palette */
            --md-ref-palette-neutral-variant0: #000000;
            --md-ref-palette-neutral-variant5: #101018;
            --md-ref-palette-neutral-variant10: #1B1B23;
            --md-ref-palette-neutral-variant15: #25252D;
            --md-ref-palette-neutral-variant20: #303038;
            --md-ref-palette-neutral-variant25: #3B3A43;
            --md-ref-palette-neutral-variant30: #47464F;
            --md-ref-palette-neutral-variant35: #52515A;
            --md-ref-palette-neutral-variant40: #5F5D67;
            --md-ref-palette-neutral-variant50: #777680;
            --md-ref-palette-neutral-variant60: #918F9A;
            --md-ref-palette-neutral-variant70: #ACAAB4;
            --md-ref-palette-neutral-variant80: #C8C5D0;
            --md-ref-palette-neutral-variant90: #E4E1EC;
            --md-ref-palette-neutral-variant95: #F2EFFA;
            --md-ref-palette-neutral-variant98: #FCF8FF;
            --md-ref-palette-neutral-variant99: #FFFBFF;
            --md-ref-palette-neutral-variant100: #FFFFFF;
        }
